*,
*::before,
*::after {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    height: 100vh;
    position: relative;
}

header {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 2.25rem;
    font-weight: 200;
    letter-spacing: 0.7px;
    margin: 10px auto;
    padding: 0 .5rem;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

#img-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#image {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
}

#img-caption {
    width: 300px;
    font-size: 0.9rem;
    font-style: italic;
    margin-top: 5px;
}

h2 {
    text-align: center;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    font-weight: 600;
    letter-spacing: 0.5px;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.bold {
    font-weight: 700;
}

strong {
    font-weight: 600;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#timeline,
.advocacy-content,
.personal-content,
.legacy-content {
    margin: 0 25px;
}

.bordered {
    margin: 10px 20px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px;
}

.legacy-content {
    margin-bottom: 25px;
}

footer {
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 0;
}

footer span {
    color: pink;
    font-size: 1.25rem;
}

footer a {
    color: skyblue;
}

#up-btn {
    position: relative;
    color: white;
}